// Sidebar and Header section
    $bg-color: rgb(149, 148, 156);

    @mixin line {
        width: 100%;
        height: 0.2em;
        background-color: #ffffff;
        position: absolute;
        left: 0;
    }

    

    .website-header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        background-color: rgb(146, 141, 141);
        padding: 0.35em;
        z-index: 2;

        .name {

            .part1,
            .part2 {
                display: block;
                color: white;
                font-weight: bold;
                font-size: 1.2em;
            }
    
            margin:0;
        }

        .hamburger {
            padding: 0.67em;
            display: inline-block;
            background-color: transparent;
            border: 0px;
            height: 2.5em;
            z-index: 3;
            outline: none;

            &:focus {
                border: none;

            }

            .hamburger_box {
                width: 2.5em;
                height: 2.5em;
                display: inline-block;
                position: relative;

            }
        }

        .hamburger_inner {
            @include line();

            top: 50%;
            transform: translateY(-50%);
            transition: background-color .1s ease-out;

            &::before {
                @include line();

                content: '';
                top: -0.67em;
                transition: transform .2s ease-in-out;
            }

            &::after {
                @include line();

                content: '';
                top: 0.67em;
                transition: transform .2s ease-in-out;
            }
        }

        .hamburger--active .hamburger_inner {
            background-color: transparent;
        }

        .hamburger--active .hamburger_inner::before {
            transform: translateY(10px) rotate(45deg);
        }

        .hamburger--active .hamburger_inner::after {
            transform: translateY(-10px) rotate(-45deg);
        }

        .logo {
            width: 3.75em;
            height: 3.75em;

        }

        .navigation{
            display:flex;
            flex-direction: row;

            .menu-item{
                &:hover{
                    background-color: darken($color: rgb(146, 141, 141), $amount: 8);
                }
            }
        }

    }

    // Main-page

    .main-page {
        position: relative;
        height: 300px;
        background-image: url("../images/slider/zdj3.jpg");
        background-size: cover;
        color: white;
        padding: 1.9em 0;

        .motto {
            position: absolute;
            font-size: 1.25em;
            top:50%;
            transform:translateY(-50%);
            width: 100%;
            padding: 0 0.5em;
            background-color: rgba($color: #000000, $alpha: 0.35);
        }
    }

    .info {
        background-color: white;
        padding: 20px 15vw;
        display: flex;
        flex-direction: column;

        .left {
            text-align: left;
        }

        .right {
            text-align: right;
        }
    }

    .about-us {
        background: linear-gradient(#ffffff, $bg-color);

        .description {
            text-align: justify;
        }
    }

    .gallery {
        position: relative;
        background-color: $bg-color;

        .slider {
            position: relative;
            border: 2px groove silver;
        }

        .previous,
        .next {
            position: absolute;
            background-color: rgba($color: silver, $alpha: 0.6);
            top: 50%;
            transform: translateY(-50%);
            height: 2em;
            width: 2em;
            padding-bottom:2em;
            font-weight: bold;
        }

        .previous {
            left: 2%;
        }

        .next {
            right: 2%;
        }
    }

    .offer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 5vw;
        background-color: rgba($bg-color, $alpha: 1.0);

        .offer1,
        .offer2 {
            position: relative;
            width: 90vw;
            height: 200px;
            background-color: rgb(187, 212, 228);
            text-align: center;
            margin: 10px 0;
            padding: 0.67em;
            border: 3px dashed gold;
            box-shadow: 3px 3px 5px 3px gold, -3px -3px 5px 3px gold;

            &::before {
                content: '';
                position: absolute;
                top: -5px;
                left: -5px;
                height: 206px;
                width: calc(100% + 10px);
                border: 3px groove gold;
            }
        }

        .offer2 {
            box-shadow: 3px 3px 5px 3px silver, -3px -3px 5px 3px silver;
            border-color:white;
            &::before {
                border: 3px groove rgb(223, 216, 216);
            }
        }


        .offer3 {
            position: relative;
            width: 90vw;
            height: 120px;
            background-color: rgb(187, 212, 228);
            text-align: center;
            margin: 10px 0;
            padding: 0.67em;
            border: 3px groove silver;
        }

        .age {
            font-family: 'Raleway'serif;
            font-size: 1.5em;
            font-weight: bold;
            display: block;
            border-bottom: solid 3px silver;
        }

        .prize {
            font-family: 'Raleway'serif;
            font-size: 1.2em;
            font-weight: bold;
            display: block;
            border-bottom: solid 3px silver;
            margin-bottom: 10px;
        }

        .list-header {
            font-weight: bold;
        }

    }

    .trainers {
        background: linear-gradient($bg-color, $bg-color, #ffffff);
        padding: 20px 10px;

        .h2 {
            padding-bottom: 10px;
        }

        .trener {
            padding: 10px 0;
            margin: 20px 0;
            position: relative;
            border: 3px ridge rgb(248, 230, 124);
            background: linear-gradient(0.25turn, rgba(219, 207, 135, 0.342), #ebf8e1, rgba(189, 178, 114, 0.322));

            &::before {
                position: absolute;
                content: '';
                top: -2%;
                left: -2%;
                border: 3px groove rgb(255, 236, 128);
                width: 104%;
                height: 104%;
            }
        }

        .description {
            padding: 5px 15%;
            display: block;
            font-size: 20px;
        }

        .contact {
            display: block;
            background-color: transparent;
        }

        .photo {
            margin: 10px auto;
            width: 60vw;
        }

        .contact-fb {
            font-size: 25px;
            font-weight: bold;

            a:link,
            a:visited {
                color: blue;
            }
        }
    }

    .reviews{
        display:flex;
        background-color:white;
        .review{
            display:block;
            width:90vw;
            font-weight:bolder;
            background-color:rgba($color: blue, $alpha: .5);
            color:white;
            .big{
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            .name{
                display:inline-block;
            }
        }
    }

    .contact {
        background-color: white;

        .text {
            border-bottom: 3px solid red;
            font-size: 20px;
        }
    }

    .website-footer {
        .links {
            display: flex;
            justify-content: space-around;
            padding: 10px;
            .menu-left{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
            .menu-item {
                display:block;
                width:30vw;

                &:hover{
                    background-color: darken($color: rgb(146, 141, 141), $amount: 8);
                }
            }
        }

        .rights {
            color: white;
        }
    }
