// Sidebar and Header section
@media(min-width: 568px) and (max-width: 767.98px) {

    @mixin nav-items {
        width: 65%;
        padding: 5px 0;
    }

    .website-header {
        padding: 5px;

        .name {
            padding-top:7px;
            .part1,
            .part2 {
                display: inline-block;
                font-size: 25px;
            }
        }

        .hamburger {
            padding: 10px;
            height: 40px;

            .hamburger_box {
                width: 40px;
                height: 40px;
            }
        }

        .logo {
            width: 60px;
            height: 60px;
        }
    }

    .navigation {
        padding-top: 60px;
    }

    // Main-page

    .main-page {
        height: 300px;
        padding: 30px 0;

        .motto {
            font-size: 27px;
            margin-top: 50px;
            padding: 0 8px;
        }
    }

    .info {
        padding: 20px 25vw;
    }

    .about-us {
        padding: 10px 40px;
    }

    .gallery {

        .slider {
            border: 4px solid silver;
        }

        .previous,
        .next {
            height: 35px;
            width: 35px;
        }
    }

    .offer {
        flex-direction: row;
        justify-content: space-around;;
        flex-wrap:wrap;
        padding: 20px 5vw;

        .offer1,
        .offer2 {
            width: 90vw;
            height: 200px;
            text-align: center;
            margin: 10px 0;
            padding: 10px;

            &::before {
                top: -5px;
                left: -5px;
                height: 206px;
                width: calc(100% + 10px);
            }
        }

        .offer1{
            font-size:20px;
        }

        .offer2 {
            width:43.8vw;
            height:200px;
        }


        .offer3 {
            width: 45vw;
            height: 120px;
            text-align: center;
            margin: 10px 0;
            padding: 10px;
        }

        .age {
            font-size: 25px;
        }

        .prize {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }

    .trainers {
        padding: 20px 10px;

        .h2 {
            padding-bottom: 10px;
        }

        .trener {
            padding: 10px 0;
            margin: 20px 0;
            position: relative;

            &::before {
                top: -2%;
                left: -2%;
                width: 104%;
                height: 104%;
            }
        }

        .description {
            font-size: 27px;
        }

        .contact {
            font-size:23px;
        }

        .photo {
            margin: 10px auto;
            width: 60vw;
        }

        .contact-fb {
            font-size: 35px;
        }
    }

    .contact {
        padding: 20px 0;

        .text {
            font-size: 20px;
        }
    }

    .website-footer {
        .links {
            padding: 10px;

            .menu-item {
                padding: 5px 0;
            }

            .facebook-icon {
                width: 150px;
            }

        }
    }
}