body {
    text-align: center;
    background-color: grey;
    font-family: 'Raleway'serif;

    a:hover {
        color: white;
        text-decoration: none;
    }
}

@import 'extraSmall';
@import 'small';