body {
    text-align: center;
    background-color: grey;
    font-family: 'Raleway'serif;

    a:hover {
        color: white;
        text-decoration: none;
    }
}

<<<<<<< HEAD
@import 'base';
=======
>>>>>>> fedb75f1cb206a846cc7acafafccf5aa32b1f9ea
@import 'extraSmall';
@import 'small';